.mobileMenu{
    width: 25%;
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid black;
    padding: 3% 0;
    background: rgb(17,100,102);
    background: linear-gradient(90deg, rgba(17,100,102,1) 20%, rgba(28,51,52,1) 70%);
}
.mobileMenu > ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
}
.mobileMenuLink{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.mobileMenuLink.active{
    color: #db740e;
    font-size: 25px;
    border-left: 3px solid #db740e;
    border-right: 3px solid #db740e;
    padding: 0 5px;
}
.mobileMenuLink:hover{
    color: #db740e;
}

@media screen and (max-width: 650px){
    .mobileMenu{
        width: 35%;
    }
}

@media screen and (max-width: 400px){
    .mobileMenu{
        width: 45%;
    }
}