.homePageSection{
    display: flex;
    flex-direction: column;
    width: 85%;
    border: 3px solid rgb(12, 77, 79);
    border-radius: 20px;
    box-shadow: 0 0 20px 10px;
    background: rgb(28,51,52);
    background: linear-gradient(90deg, rgba(28,51,52,1) 30%, rgba(17,100,102,1) 80%);
}
.homePageSectionTitle, .homePageSectionContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.homePageSectionMovies{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.homePageSectionTitle{
    margin-bottom: 2%;
}
.homePageSectionTitle > h2{
    font-size: 28px;
    padding-left: 20px;
    margin: 0;
    color: white;
}
.homePageSectionTitleLink{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
    text-decoration: none;
    color: white;
}
.homePageSectionTitleLink:hover{
    color: #042323;
}
.homePageSectionContent > button{
    background-color: transparent;
    color: white;
    font-size: 80px;
    border: none;
    text-shadow: 4px 1px #121111;
    margin-top: -7%;
}
.homePageSectionContent > button:hover{
    cursor: pointer;
    color: #042323;
}
.homePageSectionContent > button:disabled{
    cursor: not-allowed;
    color: #807e7e;
}

@media screen and (max-width: 650px){
    .homePageSectionMovies{
        justify-content: center;
    }
    .homePageSectionTitle{
        flex-direction: column;
        justify-content: center;
    }
    .homePageSectionTitle > h2{
        padding: 0;
    }
    .homePageSectionTitleLink{
        padding: 0;
        width: 50%;
        justify-content: center;
    }
}