.movieCardHomePage{
    width: 18%;
    margin: 10px 33px;
}
.movieCardOnPage{
    width: 16em;
    height: 24em;
    margin: 10px 33px;
}
.movieCardLink{
    text-decoration: none;
    color: black;
    width: 100%;
}
.movieCardLink:hover{
    color: blue;
}
.movieCardLink:focus{
    color: aqua;
}
.movieCardLink > h3{
    margin: 20px;
    color: white;
    text-align: center;
}
.movieCardLink > h3:hover{
    color: #1d6969;
}
.movieCardPoster{
    width: 100%;
    box-shadow: 1px 1px 20px 5px;
}

@media screen and (max-width: 1200px){
    .movieCardHomePage{
        width: 25%;
    }
}

@media screen and (max-width: 960px){
    .movieCardHomePage{
        width: 40%;
    }
}

@media screen and (max-width: 650px){
    .movieCardHomePage{
        width: 70%;
    }
}