.movieDescriptionContainer{
    width: 100%;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}
.movieDescription{
    width: 70%;
    height: 37em;
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    padding: 1% 2% 0 4%;
    border: 5px solid #02024b;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px;
}
.movieDescription h2, h3, h4, p{
    color: white;
}
.movieDescription > button{
    width: 5%;
    height: 7%;
    font-size: 45px;
    border: none;
    color: gray;
    background-color: transparent;
}
.movieDescription > button:hover{
    color: white;
    cursor: pointer;
    border: none;
}
.movieDescriptionPoster{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    padding-left: 3%;
}
.movieDescriptionPoster > img{
    width: 350px;
    height: 500px;
    box-shadow: 1px 1px 20px 5px;
}
.movieInfo{
    width: 50%;
    text-align: center;
}
.movieInfo > h2{
    font-size: 35px;
    color: orangered;
}
.movieInfo > p{
    font-size: 18px;
    height: 160px;
    overflow: auto;
}
.movieInfo span{
    color: #058d05;
}
.movieInfo > p > span{
    font-size: 20px;
    font-weight: bold;
}
.movieInfo > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trailerLink{
    width: 100%;
    color: orange;
    text-decoration: none;
    font-size: 25px;
    border-radius: 10px;
}
.trailerLink:hover{
    box-shadow: 0 0 5px 5px;
}
.watchLink{
    width: 50%;
    color: #d13512;
    text-decoration: none;
    font-size: 25px;
    border-radius: 10px;
}
.watchLink:hover{
    box-shadow: 0 0 5px 5px;
}
@media (max-width: 1300px) {
    .trailerLink{
        font-size: 25px;
        margin: 0;
    }
}
@media (max-width: 1200px) {
    .movieDescriptionContainer{
        height: 100%;
        padding: 13% 0 5% 0;
    }
    .movieDescription{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: auto;
        padding: 5% 0 1% 0;
    }
    .movieInfo{
        text-align: center;
        width: 80%;
    }
    .movieDescriptionPoster{
        padding: 0;
    }
}
@media (max-width: 500px){
    .movieDescriptionPoster > img{
        width: 215px;
        height: 340px;
    }
}